img {
    width: 200px;
}
body {
    text-align: center;
    font-family: "Arial";
}

h1{
      color: rgba(100, 100, 100, 100);
}

*{
    background-color: rgb(30, 30, 30);
}
p{
      font-family: Georgia, serif;
}
.navigation {
  background-color: rgba(0, 0, 0, 1);
  height: auto;
  text-align: left;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
}