img {
    width: 200px;
}


body {
    text-align: center;
    font-family: "Arial";
}

h1{
      color: rgba(100, 100, 100, 100);
      background-color:  #00004d;
}

*{
    background-color: rgb(30, 30, 30);
}
p{
      font-family: Georgia, serif;
      padding-left: 80px;
}
.navigation {
  height: auto;
  text-align: left;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
}

.allcontent{
    padding-left: 60px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: #000;
    padding: 8px 15px;
    text-decoration: none;
     border-style: solid;
    border-width: 2px;
}


li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
h3{
    color: #ff0000; 
    /* This is to be removed later */
}





