/* Navagation Bar */
.navul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.navli a {
    display: block;
    color: #000;
    padding: 8px 15px;
    text-decoration: none;
     border-style: solid;
    border-width: 2px;
}


.navli a:hover:not(.active) {
    background-color: #555;
    color: white;
}

/* these nav above need to be  */

h3{
    color: #ff0000; 
    /* This is to be removed later */
}

.homeimg {
    width: 500px;
}


body { /* this is the equlivlant to the * for changes to everything */
  text-align: center;
    font-family: "Arial";
    background-color: #999999
}

.mainTitle{ /* the main title */
      color:  #999999; /* rgba(100, 100, 100, 100) */
      background-color: #003380; /*#00004d;  */
}


.subTitle{
    /* this is the subtytle  */
    color: rgb(0, 0, 10);
}

p{  /* this should change to be more spisific */
      font-family: Georgia, serif;

}
.navigation {
  height: auto;
  text-align: left;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
}

.homecontent{
    padding-left: 60px;
}

.Content{
    padding-left: 60px;
}


.projects{
    border-style: solid;
      max-width:500px;
    border-width: 2px ;
        margin: auto;
        text-align: center;
}

.projecttitle{
    background-color: #003380; 
}



